@charset "UTF-8";
/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-image: url("images/bg-patarn.jpg");
  font-family: メイリオ;
  color: #585555;
  width: 100%;
  line-height: 1;
}

a:link {
  color: #585555;
}

a:visited {
  color: #585555;
}

header {
  background-color: #E1DCD4;
  opacity: 74%;
  width: 19.33%;
  height: 45.8vw;
  position: absolute;
  z-index: 200;
}

header .header-logo {
  font-size: 2.91vw;
  font-weight: normal;
  padding-top: 70px;
  text-align: center;
}

header .navi-icon {
  display: none;
}

header .header-navi {
  font-size: 15px;
  font-family: Arial;
  font-weight: bold;
  padding-top: 4.91vw;
}

header .header-navi li {
  padding: 2.58vw 0 0 5vw;
}

@media (max-width: 768px) {
  header {
    background-color: unset;
    width: 94.76%;
    height: 36.26vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  header .header-logo {
    font-size: 5.3vw;
    width: 48.69%;
    height: 37px;
    display: block;
    margin-top: 70px;
    padding-top: 0;
    background-color: rgba(255, 255, 255, 0.9);
    line-height: 1.92;
  }
  header .navi-icon {
    display: block;
    color: rgba(255, 255, 255, 0.9);
    font-size: 20px;
    position: fixed;
    top: 12.4px;
    right: 18.5px;
    z-index: 300;
  }
  header .header-navi {
    position: fixed;
    top: 0;
    right: -200px;
    width: 200px;
    height: 250px;
    padding-top: 40px;
    font-size: 15px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    z-index: 2;
    display: block;
    line-height: 1.5;
    list-style: none;
    background-color: rgba(255, 255, 255, 0.9);
  }
  header .header-navi li {
    padding: 4vw 0 0 5vw;
  }
}

.mv {
  width: 100%;
}

.mv .slider {
  opacity: 0;
  -webkit-transition: 3s;
  transition: 3s;
}

.mv .slick-initialized {
  opacity: 1;
}

.sns-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 15.16%;
  list-style: none;
  margin-left: 75%;
}

.sns-list .fab {
  font-size: 1.5rem;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
}

.sns-list .fab:hover {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
  color: rgba(250, 248, 128, 0.959);
}

@media (max-width: 768px) {
  .sns-list {
    width: 24.53%;
    margin-left: 71.73%;
  }
  .sns-list .fab {
    font-size: 18px;
  }
}

.border-title {
  font-size: 35px;
  border-bottom: 2px solid #585555;
  font-weight: normal;
  display: block;
  width: 35.16%;
  text-align: center;
  margin: 0 auto 105px 0;
  padding-bottom: 10.5px;
  padding-top: 121px;
}

@media (max-width: 768px) {
  .border-title {
    font-size: 18px;
    display: block;
    width: 92vw;
    margin: 0 auto 56px auto;
    padding-bottom: 9.5px;
    padding-top: 39px;
  }
}

.prodacts {
  width: 100%;
}

.hover-text {
  opacity: 0;
  padding-top: 0;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.prodacts-contents {
  width: 88.33%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 140px;
}

.prodacts-contents:nth-child(even) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  margin-left: auto;
}

.prodacts-contents .prodacts-img {
  width: 63.49%;
  -webkit-filter: contrast(0.5);
          filter: contrast(0.5);
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
}

.prodacts-contents .prodacts-img:hover {
  -webkit-filter: none;
          filter: none;
}

.prodacts-contents .prodacts-img:hover + .prodacts-text-wrap > .hover-text {
  opacity: 1;
  padding-top: 15.5px;
}

@media (max-width: 768px) {
  .prodacts {
    width: 100%;
  }
  .hover-text {
    opacity: 1;
    padding-top: 40px;
  }
  .prodacts-contents {
    width: 92%;
    padding-top: 80px;
    display: block;
  }
  .prodacts-contents .prodacts-img {
    width: 100%;
    -webkit-filter: none;
            filter: none;
  }
  .prodacts-contents .prodacts-img:hover + .prodacts-text-wrap > .hover-text {
    opacity: 1;
    padding-top: 40px;
  }
}

.prodacts-text-wrap {
  margin: auto 0;
  width: 100%;
  text-align: center;
}

.prodacts-text-wrap .contents-title {
  font-size: 30px;
  width: 100%;
  display: inline-block;
  border-bottom: 2px solid #585555;
  text-align: center;
  font-weight: normal;
  line-height: 1.64;
}

.prodacts-text-wrap .hover-text {
  line-height: 1.8;
  width: 83.2%;
  margin: -7px auto 0 auto;
}

.prodacts-contents-top {
  padding-top: 0;
}

@media (max-width: 768px) {
  .prodacts-text-wrap {
    width: 100%;
  }
  .prodacts-text-wrap .contents-title {
    font-size: 18px;
    width: 60%;
    border-bottom: none;
    line-height: 1.64;
    background-color: rgba(225, 220, 212, 0.74);
    line-height: 2.66;
    margin: -20px auto 0 auto;
    position: absolute;
    left: 14.66%;
  }
  .prodacts-text-wrap .even {
    right: 14.66%;
  }
  .prodacts-text-wrap .hover-text {
    font-size: 11px;
  }
}

.btn {
  font-size: 2.5vw;
  background-color: #F8F7EF;
  display: block;
  width: 21.25%;
  height: 5.75vw;
  text-align: center;
  line-height: 2.43;
  margin: 136px auto 151px auto;
  -webkit-box-shadow: 6px 6px #585555;
          box-shadow: 6px 6px #585555;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}

.btn:hover {
  -webkit-box-shadow: 10px 10px;
          box-shadow: 10px 10px;
  -webkit-filter: sepia(1);
          filter: sepia(1);
  color: #3a3636;
}

.btn:active {
  margin-top: 142px;
  margin-bottom: 145px;
  -webkit-box-shadow: 0px 0px;
          box-shadow: 0px 0px;
}

@media (max-width: 768px) {
  .btn {
    font-size: 18px;
    background-color: #F8F7EF;
    display: block;
    width: 92%;
    height: 69px;
    text-align: center;
    line-height: 3.83;
    margin: 89px auto 119px auto;
    -webkit-box-shadow: 6px 6px #585555;
            box-shadow: 6px 6px #585555;
    -webkit-transition-duration: 0.2s;
            transition-duration: 0.2s;
  }
  .btn:hover {
    -webkit-box-shadow: 10px 10px;
            box-shadow: 10px 10px;
    -webkit-filter: sepia(1);
            filter: sepia(1);
    color: #3a3636;
  }
  .btn:active {
    margin-top: 95px;
    margin-bottom: 113px;
    -webkit-box-shadow: 0px 0px;
            box-shadow: 0px 0px;
  }
}

.about-us {
  width: 100%;
  background-image: url("images/aboutus-bg.jpg");
  background-size: cover;
}

.au-container {
  width: 31.42%;
  height: 60.66vw;
  background-color: rgba(225, 220, 212, 0.74);
  margin: 0 auto;
}

.au-container .text-wrap {
  padding-top: 9.16vw;
  width: 66.84%;
  margin: 0 auto;
}

.au-container .text-wrap h2 {
  font-size: 2.91vw;
  text-align: center;
  font-weight: normal;
}

.au-container .text-wrap .text {
  font-size: 1.5vw;
  line-height: 2;
}

.au-container .text-wrap .top {
  padding-top: 6.33vw;
}

.au-container .text-wrap .bottom {
  padding-top: 4.83vw;
}

@media (max-width: 768px) {
  .about-us {
    margin-bottom: 121px;
  }
  .au-container {
    width: 45%;
  }
}

@media (max-width: 450px) {
  .about-us {
    background-size: 100%;
    background-repeat: no-repeat;
    position: relative;
    height: 391px;
    margin-top: 200px;
  }
  .au-container {
    width: 72%;
    height: 104.26vw;
    position: absolute;
    top: -21.6vw;
    left: 14vw;
  }
  .au-container .text-wrap {
    padding-top: 35px;
    width: 77.03%;
    text-align: left;
  }
  .au-container .text-wrap h2 {
    font-size: 4.8vw;
  }
  .au-container .text-wrap .text {
    font-size: 4.26vw;
    line-height: 2;
  }
  .au-container .text-wrap .top {
    padding-top: 6.33vw;
  }
  .au-container .text-wrap .bottom {
    padding-top: 10.93vw;
  }
}

.infomation {
  width: 100%;
}

.infomation .contents-wrap {
  width: 76.66%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
}

.info-contents {
  width: 30.43%;
  font-size: 18px;
}

.info-contents .info-img {
  width: 100%;
}

.info-contents .date {
  padding: 40px 0 12px 0;
}

.info-contents p {
  line-height: 1.38;
}

@media (max-width: 768px) {
  .infomation {
    width: 100%;
  }
  .infomation .contents-wrap {
    width: 76.66%;
    display: block;
    margin: 0 auto 74px auto;
  }
  .info-contents {
    width: 100%;
    font-size: 15px;
    padding-top: 55px;
  }
  .info-contents .info-img {
    width: 100%;
  }
  .info-contents .date {
    padding: 17px 0 6px 0;
  }
  .info-contents p {
    line-height: 1.66;
  }
  .top {
    padding-top: 0;
  }
}

.blog {
  width: 100%;
}

.blog-contents {
  width: 76.66%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
}

.blog-contents .blog-img {
  width: 25.86%;
  -o-object-fit: contain;
     object-fit: contain;
}

.blog-contents .text-wrap {
  margin: auto 0 auto 12.93%;
}

.blog-contents .text-wrap h3 {
  font-size: 25px;
}

.blog-contents .text-wrap p {
  font-size: 18px;
  line-height: 2.22;
  padding-top: 23px;
}

@media (max-width: 768px) {
  .blog {
    width: 100%;
  }
  .blog-contents {
    width: 75.46%;
    display: block;
  }
  .blog-contents .blog-img {
    width: 100%;
  }
  .blog-contents .text-wrap {
    margin: 27px auto 79px auto;
    text-align: left;
  }
  .blog-contents .text-wrap h3 {
    font-size: 18px;
  }
  .blog-contents .text-wrap p {
    font-size: 16px;
    line-height: 2.18;
    padding-top: 10px;
  }
}

.contact {
  width: 100%;
}

.contact .border-title {
  padding-top: 0;
}

.contact .contact-form {
  width: 44.11%;
  margin: 0 auto;
  font-size: 0.6875rem;
}

.contact .contact-form .form-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 66px;
}

.contact .contact-form .form-lavel {
  height: 58px;
  line-height: 5.27;
  display: inline-block;
  background-color: #585555;
  width: 21.72%;
  color: #FFFFFF;
  text-align: center;
}

.contact .contact-form .form-text {
  width: 78.2%;
  display: inline-block;
}

.contact .contact-form .form-comment {
  margin-top: 66px;
}

.contact .contact-form .form-comment textarea {
  width: 100%;
  height: 269.9px;
}

.contact .contact-form .btn {
  border-style: none;
  color: #585555;
  width: 48.17%;
  letter-spacing: 55px;
  text-indent: 55px;
}

@media (max-width: 768px) {
  .contact .contact-form {
    width: 92%;
    font-size: 10px;
  }
  .contact .contact-form .form-lavel {
    height: 37px;
    line-height: 3.7;
  }
  .contact .contact-form textarea {
    height: 189.56px;
  }
  .contact .contact-form .btn {
    width: 100%;
  }
}

.access {
  width: 100%;
  height: 67vw;
  background-image: url("images/access-bg.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
}

.access .mask {
  background-color: rgba(225, 220, 212, 0.74);
  height: 67vw;
}

.access .mask .border-title {
  padding-top: 89px;
  margin-bottom: 7.04vw;
}

@media (max-width: 768px) {
  .mask .border-title {
    display: none;
  }
}

.access-container {
  width: 76.66%;
  height: 37.08vw;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 11vw;
}

.access-container .map {
  width: 47.5%;
  -o-object-fit: contain;
     object-fit: contain;
}

.access-container .text-wrap {
  width: 37.82%;
  font-size: 1.5vw;
  line-height: 2.22;
  margin: auto 0;
}

.access-container .text-wrap .middle {
  padding-top: 6.16vw;
}

@media (max-width: 768px) {
  .access-container {
    width: 92%;
    height: auto;
    padding-top: 34px;
  }
  .access-container .map {
    width: 53.62%;
  }
  .access-container .text-wrap {
    width: 40.57%;
    font-size: 10px;
    line-height: 1.5;
    text-align: left;
  }
  .access-container .text-wrap .middle {
    padding: 23px 0;
  }
}

footer {
  width: 100%;
  height: 106px;
  background-color: #585555;
  color: #F8F7EF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .copyright {
  font-size: 1.125rem;
  padding-left: 11.5%;
  line-height: 5.88;
}

footer .sns-list {
  margin: auto 0 auto 49.16%;
  line-height: 4.41;
}

footer .sns-list .fab {
  color: #F8F7EF;
}

@media (max-width: 768px) {
  footer {
    width: 100%;
    height: 33px;
  }
  footer .copyright {
    font-size: 10px;
    padding-left: 0;
    line-height: 3.3;
    margin: 0 auto;
  }
  footer .sns-list {
    display: none;
  }
}
/*# sourceMappingURL=stylesheet.css.map */